@import url("/adaptive.css");

:root {
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font-white: #fff;
    --transition-time: 0.2s;
    --transition-time-slower: 0.3s;
    --slider-position: 61%;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

body {
    background-color: var(--bg-dark);
    width: 100%;
}

header {
    padding: 0 20px;
}

footer {
    padding: 0 20px;
}

section {
    width: 100%;
    padding: 0 20px;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

nav {
    max-width: clamp(650px, 25vw + 20rem, 775px);
    width: 100%;
}


.menu {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    color: var(--font-white);
    font-size: 22px;
    gap: 30px;
    /* background-color: green; */
}

.menu a {
    text-decoration: none;
    color: inherit;
    transition-duration: var(--transition-time);
}

.menu a:hover {
    color: var(--font-gold)
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 199px;
    width: 100%;
}

.logo-icon {
    background-color: var(--font-white);
    mask-image: url("assets/svg/Logo.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    width: 49px;
    height: 26px;
    transition: var(--transition-time);
}

.logo-icon:hover {
    background-color: var(--font-gold);
    cursor: pointer;
}

.logo-text {
    font-family: "forum", serif;
    font-size: 28px;
    color: var(--font-white);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
}

#banner-text {
    max-width: 598px;
}

.section-title {
    font-family: "forum", serif;
    text-transform: uppercase;
    font-size: clamp(3.125rem, 3.348vw + 0.982rem, 5rem);
    line-height: clamp(4.688rem, 1.674vw + 3.616rem, 5.625rem);
    font-weight: 100;
    letter-spacing: 5px;
    color: var(--font-gold);

}

.section-title-dark {
    font-family: "forum", serif;
    text-transform: uppercase;
    font-size: clamp(3.125rem, 3.348vw + 0.982rem, 5rem);
    line-height: clamp(4.688rem, 1.674vw + 3.616rem, 5.625rem);
    font-weight: 100;
    letter-spacing: 5px;
    color: var(--font-white);
    transition-duration: var(--transition-time);
}

.section-title-dark.first {
    padding-top: clamp(50px, 11.161vw + -4.018rem, 150px);
    line-height: 5.625rem;
}

.section-title-dark:hover {
    color: var(--font-gold);
    cursor: default;
}

.text-subheading {
    color: var(--font-white);
    font-size: clamp(1.5rem, 0.446vw + 1.214rem, 1.75rem);
    margin: 25px 0 0 0;



}

#welcome {
    background-color: var(--bg-dark);
    position: relative;
}

#welcome .container {
    height: clamp(585px, 28.112vw + 328px, 810px);
    display: flex;
    flex-direction: row;
}

.hero-text {
    z-index: 1;
}

.hero-image {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: calc(100% - 60px);
}

.hero-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.hero-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 16%, rgba(0, 0, 0, 0) 31%)
}

.pagination-container {
    width: 600px;
    height: 120px;
    background-color: var(--bg-dark);
    position: absolute;
    right: 0;
    /* Прижимаем к правому краю */
    bottom: 0;
    /* Прижимаем к нижнему краю */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 74px;
    padding-right: 75px;
}

.welcome-slide-num {
    display: flex;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    color: var(--font-white);
    font-size: 22px;
    letter-spacing: 0;
    line-height: 40px;
}

.welcome-slide-num div:nth-of-type(2) {
    padding-inline: 10px;
}

.carousel-pagination-container {
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin-right: 5px;
}

.carousel-pagination-container div {
    /* один квадратик */
    width: 16px;
    height: 16px;
    background-color: var(--font-white);
    transition-duration: var(--transition-time);
}

.carousel-pagination-container div:hover {
    background-color: var(--font-gold);
    cursor: pointer;
}

.carousel-pagination-container div:first-of-type {
    /* активный квадратик */
    background-color: var(--font-gold);
}

.pagination-arrows {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.pagination-arrows div {
    width: 30px;
    height: 8px;
    background-color: #fff;
    mask-repeat: no-repeat;
    transition-duration: var(--transition-time);
}

.pagination-arrows div:hover {
    background-color: var(--font-gold);
    cursor: pointer;
}


.pagination-arrows div:first-child {
    mask-image: url(assets/svg/arrow-left.svg);
}

.pagination-arrows div:last-child {
    mask-image: url(assets/svg/arrow-right.svg);
}

h1 {
    margin: 0 0 25px 0;
}

.fs-thin {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
}

.fs-light {
    font-family: "roboto", sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
}

#button {
    height: clamp(60px, 1.674vw + 2.679rem, 75px);
    width: clamp(300px, 6.696vw + 14.464rem, 360px);
    background-color: var(--dark-red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 75px 0 0 0;
    transition-duration: var(--transition-time);
}

#button .fs-light {
    text-decoration: none;
    color: var(--font-white);
    font-size: 22px;
}

#button:hover {
    background-color: var(--font-gold);
}

#banner-text {
    padding: 150px 0 0 0;
}

.white-background {
    background-color: #fff;
}

.visiting {
    background-color: #fff;
    padding-block: 75px;
}

.visiting h2 {
    position: relative;
}

.visiting h2::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    background-color: var(--dark-red);
    width: 100%;
    height: 3px;
}

.visiting-cards-container {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 103px;
    flex-wrap: wrap;
    row-gap: 75px;
}

.visiting-card {
    display: block;
    width: min(calc(90vw/3), 440px);
    text-decoration: none;
}

.visiting-card img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.visiting-card .img-wrapper {
    width: 100%;
    aspect-ratio: 1.544;
}


.visiting-card:hover h3::after {
    width: 100%;
}

.visiting-card h3 {
    font-family: "forum", serif;
    font-size: 32px;
    letter-spacing: 5px;
    line-height: 35px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin: 25px 0 22px 0;
}

.visiting-card h3::after {
    /* полоска под заголовком */
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    background-color: var(--dark-red);
    width: 68.18%;
    height: 2px;
    transition-duration: var(--transition-time-slower);
}

.visiting-card p:nth-of-type(1) {
    font-family: "roboto", sans-serif;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: 100;
    color: #000;
    margin: 0;
}

.visiting-card p:nth-of-type(2) {
    font-family: "roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    font-weight: 100;
    color: #000;
    margin-top: 10px;
}

.explore .container {
    padding-block: 75px;
}

.explore-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.explore-text-container {
    max-width: 660px;
    width: 100%;
}

.explore h2 {
    position: relative;
}

.explore h2::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    background-color: var(--dark-red);
    height: 3px;
}

.explore p {
    font-family: "roboto", sans-serif;
    font-size: clamp(20px, 1.5vw, 22px);
    letter-spacing: 0;
    font-weight: 300;
    color: #fff;
    line-height: 38.5px;
    margin: 0 0 25px 0;
}

.explore p:nth-of-type(1) {
    padding-top: clamp(60px, 5vw, 103px);
}

.explore p:last-of-type {
    margin-bottom: 0;
}


.explore span {
    color: #CAAA7D;
}

.explore-image-container {
    min-width: 460px;
    max-width: 720px;
    aspect-ratio: 1.029;
    margin-top: 15px;
    position: relative;
    align-self: flex-start;
}

.img-after {
    max-width: 100%;
    height: auto;
}


.img-before-wrapper {
    position: absolute;
    width: var(--slider-position);
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.img-before-wrapper img {
    height: 100%;
    width: auto;
}


.img-slider {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: calc(var(--slider-position) - 19px);
    cursor: pointer;
}


#video-journey {
    background-color: #fff;
}

#video-journey .container {
    padding-block: 75px;
}

.video-journey-text-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.video-journey-text-container p {
    max-width: 720px;
    height: 90px;
    font-family: "roboto", sans-serif;
    font-size: 22px;
    line-height: 38.5px;
    color: #000;
    font-weight: 300;
    margin: 0;
    box-sizing: border-box;
    padding: 8px 0 0 0;
}

.video-active {
    width: 100%;
    height: 650px;
    background-image: url("assets/video/poster0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-active img {
    width: clamp(152px, 15vw, 220px);
    height: auto;
}

.video-active img:hover {
    cursor: pointer;
}

.player-controls {
    height: 85px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    gap: 25px;
}

.player-controls img {
    height: auto;
}

.player-controls img:nth-of-type(1) {
    width: 23px;
}

.player-controls img:nth-of-type(2) {
    width: 38px;
}

.player-controls img:nth-of-type(3) {
    width: 35px;
}


.player-controls>* {
    cursor: pointer;
}

.progress {
    background: linear-gradient(to right, #710707 0%, #710707 10%, #c4c4c4 10%, #c4c4c4 100%);
    height: 8px;
    max-width: 929px;
    width: 100%;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: #fff;
}



.volume-slider {
    background: linear-gradient(to right, #710707 0%, #710707 50%, #c4c4c4 50%, #c4c4c4 100%);
    max-width: 155px;
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
}

.volume-slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: #fff;
}

#video-thumbnails {
    /*контейнер с миниатюрами*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    padding: 0;
    gap: 30px;
}

.youtube-thumbnail {
    max-width: 452px;
    width: 100%;
    aspect-ratio: 16/9;
}

.youtube-thumbnail iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

#thumbnail-nav-container {
    margin: 40px auto 0 auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#thumbnail-nav-container div {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #999;
}

#thumbnail-nav-container div:nth-of-type(1) {
    /*active dot*/
    background-color: #333;
}

#gallery .container {
    padding: 75px 0 0 0;
}

#gallery-container {
    margin-top: 75px;
    height: clamp(1265px, 120vw, 1960px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    column-gap: 24px;
}

.gallery-column {
    display: flex;
    flex-direction: column;
    width: 456px;
    row-gap: 24px;
    margin-top: 50px;
}

.gallery-column:nth-of-type(2) {
    margin-top: 0px;
}

.gallery-column img {
    width: 100%;
    height: auto;
}

#gallery-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 360px;
    /* высота затемнения */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    pointer-events: none;
    /* чтобы не мешал кликам */
}

#tickets {
    background-color: #fff;
}

#tickets .container {
    padding: 75px 0;
}

#tickets h2 {
    position: relative;
}

#tickets h2::after {
    /* полоска под заголовком */
    content: "";
    position: absolute;
    bottom: -28.5px;
    left: 0;
    background-color: var(--dark-red);
    width: 100%;
    height: 3px;
}

#tickets-container {
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
}

.tickets-image-container {
    width: 720px;
    height: clamp(440px, 40vw, 550px);
    overflow: hidden;
    position: relative;
}

.tickets-image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#ticket-type {
    width: 270px;
    margin-left: clamp(20px, calc(4vw - 20px), 60px);
    margin-right: auto;
    flex-shrink: 0;
}

.ticket-headings {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.radio-container {
    width: 100%;
    height: 26px;
    box-sizing: border-box;
    display: block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    cursor: pointer;
    padding-left: 40px;
    margin-bottom: 25px;
    transition-duration: var(--transition-time);
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    /* background-color: #710707; */
    position: absolute;
    height: 18px;
    width: 18px;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 50%;
    transform: translate(0%, -50%);
    transition-duration: var(--transition-time);
}

/* On mouse-over */
.radio-container:hover input~.checkmark {
    border-color: #676767;
}

.radio-container:hover input~.checkmark::after {
    background-color: #676767;
}

.radio-container:hover {
    color: #676767;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
}


#amount {
    width: 150px;
    display: flex;
    flex-direction: column;
}

#ticket-type p {
    text-align: left;
    margin-bottom: 50px;
}

#amount p {
    text-align: right;
    margin-bottom: 25px;
}

.visitor-category {
    font-family: 'roboto', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
}

.visitor-category:nth-of-type(2) {
    margin-top: 10px;
}

.counter {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 3px solid #000;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0 11px;
}

.counter button {
    all: unset;
    font-size: 32px;
    font-weight: 400;
    width: 20px;
    cursor: pointer;
}

.ticket-amount {
    all: unset;
    width: 40px;
    text-align: center;
    padding-left: 12px;
    font-family: 'roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.total-amount {
    font-family: 'roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.6px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.total-amount div:first-of-type {
    width: 97px;
}

.buy-button {
    width: 175px;
    height: 50px;
    border-radius: 2px;
    align-self: flex-end;
    background-color: #000;
    color: var(--font-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 60px;
    cursor: pointer;
}

.parallax {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-image: url(assets/img/parallax.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    /* заставляет фон "залипнуть" при скролле */
    background-repeat: no-repeat;
}

#contacts {
    background-color: #fff;
}

#contacts .container {
    padding-block: 75px;
}

#contacts h2 {
    position: relative;
    margin-bottom: 103px;
}

#contacts h2::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    background-color: var(--dark-red);
    width: 100%;
    height: 3px;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
    font-family: 'roboto', sans-serif;
}

.map-container {
    width: clamp(694px, 65vw, 960px);
    height: clamp(454px, calc(65vw/1.54), 620px);
    overflow: hidden;
    position: relative;
}

.map-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacts-heading {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 50px;
    margin-top: 0;
}

.contact-details p {
    font-weight: 300;
    font-size: clamp(20px, calc(2vw - 1px), 22px);
    margin-bottom: 25px;
}

/* footer section*/
footer {
    color: var(--font-white);
    font-family: 'roboto', sans-serif;
}

.container .footer-top {
    /* height: 265px; */
    background-color: #710707;
}

.container .footer-bottom {
    height: 124px;
    background-color: green;
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 22px;
}

.footer-bottom span:nth-of-type(1) {
    justify-self: start;
    margin: auto 0;
}

.footer-bottom span:nth-of-type(2) {
    justify-self: center;
    margin: auto 0;
}

.footer-bottom span:nth-of-type(3) {
    justify-self: end;
    margin: auto 0;
}

.footer-top {
    display: flex;
}

.logo-container-b {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 199px;
    margin-top: 84px;
    text-decoration: none;
}

.footer-nav {
    display: flex;
    margin: 87px auto 50px clamp(45px, 7.6vw, 141px);
    max-width: 360px;
    width: 100%;
    column-gap: 20px;
    height: 128px;
    justify-content: space-between;
    font-size: 22px;
    background-color: green;
}

.footer-top ul {
    padding: 0;
}

.footer-nav li {
    margin-bottom: 25px;
}

.footer-nav li:last-child {
    margin-bottom: 0;
}

.footer-nav a {
    text-decoration: none;
    color: inherit;
    transition-duration: var(--transition-time);
}

.footer-nav a:hover {
    color: var(--font-gold);
}

.footer-social {
    display: flex;
    margin: 162px 0 auto 70px;
    gap: 25px;
}

.footer-social a {
    position: relative;
    height: 48px;
    width: 48px;
    border: 1px solid #666;
    border-radius: 50%;
    box-sizing: border-box;
    transition-duration: var(--transition-time);
}

.footer-social a::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #fff;
    /* цвет "заливки" маски, т.е. сама иконка */
    mask-repeat: no-repeat;
    mask-position: center;
    transition-duration: var(--transition-time);
}

.footer-social a:hover {
    border-color: var(--font-gold);
    border-width: 2px;
}

.footer-social a:hover::before {
    background-color: var(--font-gold);
}

.footer-social a:nth-of-type(1)::before {
    mask-image: url(assets/svg/Footer/Youtube.svg);
}

.footer-social a:nth-of-type(2)::before {
    mask-image: url(assets/svg/Footer/Instagram.svg);
}

.footer-social a:nth-of-type(3)::before {
    mask-image: url(assets/svg/Footer/Facebook.svg);
}

.footer-social a:nth-of-type(4)::before {
    mask-image: url(assets/svg/Footer/Twitter.svg);
}

.footer-social a:nth-of-type(5)::before {
    mask-image: url(assets/svg/Footer/Pinterest.svg);
}

.horizontal-line {
    width: 100%;
    height: 3px;
    background-color: #666;
    margin: 0 auto;
}


.hamburger {
    width: 32px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger div {
    width: 100%;
    height: 2px;
    background-color: #fff;
}


@media (max-width: 1200px) {
    #ticket-type {
        display: none;
    }
}


@media (min-width: 1025px) {
    .hamburger {
        display: none;
    }
}


@media (max-width: 1024px) {

    .container {
        max-width: 984px;
    }

    nav {
        display: none;
    }

    #welcome .container {
        height: 585px;
    }

    .pagination-container {
        width: 700px;
        padding-left: 224px;
    }

    .welcome-slide-num {
        font-size: 20px;
    }

    .carousel-pagination-container {
        width: 160px;
        margin: 0 auto;
    }

    .carousel-pagination-container div {
        /* один квадратик */
        width: 12px;
        height: 12px;
    }





    #button {
        height: 60px;
        width: 300px;
        margin: 50px 0 0 0;
    }

    #button .fs-light {
        font-size: 20px;
    }

    #banner-text {
        padding: 50px 0 0 0;
    }

    .section-title,
    .section-title-dark {
        font-size: clamp(2.5rem, 3.906vw + 0.625rem, 3.125rem);
        line-height: clamp(3.75rem, 0.977vw + 3.281rem, 3.906rem);
    }

    .section-title-dark.first {
        line-height: clamp(3.75rem, 11.719vw + -1.875rem, 5.625rem);
        padding-top: 50px;
    }


    .text-subheading {
        font-size: clamp(1.25rem, 1.563vw + 0.5rem, 1.5rem);
    }

    .visiting {
        padding-block: 60px;
    }

    .visiting h2::after {
        bottom: -23px;
    }

    .visiting-card {
        width: 330px;
    }

    .visiting-card .img-wrapper {
        aspect-ratio: 1.535;
    }


    .visiting-cards-container {
        justify-content: space-evenly;
        margin-top: 83px;
        row-gap: 60px;
    }

    .visiting-card h3 {
        font-size: 28px;
        letter-spacing: 3px;
        margin: 25px 0 22px 0;
    }

    .visiting-card h3::after {
        /* полоска под заголовком */
        width: 45%;
        bottom: -12px;
    }

    .visiting-card p:nth-of-type(1) {
        font-size: 20px;
    }

    .visiting-card p:nth-of-type(2) {
        font-size: 16px;
    }

    .explore .container {
        padding-block: 60px;
    }

    .explore-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .explore-text-container {
        max-width: 100%;
    }

    /* .explore h2 {
        line-height: 75px;
    } */

    .explore h2::after {
        bottom: -23px;
    }

    .explore p {
        font-size: 20px;
        margin: 0;
    }

    .explore p:nth-of-type(1) {
        padding-top: 83px;
    }

    .explore p:nth-of-type(2) {
        line-height: 35px;
    }

    .explore p:nth-of-type(3) {
        display: none;
    }

    .explore-image-container {
        margin-top: 62px;
        align-self: center;
    }

    #video-journey .container {
        padding-block: 60px;
    }

    .video-journey-text-container {
        margin-bottom: 40px;
    }

    .video-journey-text-container p {
        display: none;
    }

    .video-active {
        height: 444px;
    }


    .video-active img {
        width: clamp(140px, 15vw, 152px);
    }

    .player-controls {
        height: 60px;
        padding-inline: 40px;
        gap: 30px;
    }

    .player-controls img:nth-of-type(2) {
        width: 26px;
        padding-inline: 1px;
    }

    .player-controls img:nth-of-type(3) {
        width: 26px;
    }

    .progress {
        height: 5px;
        max-width: 564px;
    }

    .progress::-webkit-slider-thumb,
    .volume-slider::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
    }

    .volume-slider {
        max-width: 143px;
        height: 5px;
    }

#video-thumbnails {
    /* gap: 41px; */
}

.youtube-thumbnail {
    max-width: 300px;
    aspect-ratio: 1.765;
}

    #gallery .container {
        padding: 60px 0 0 0;
    }

    #gallery-container {
        margin-top: 60px;
        height: 1265px;
    }

    .gallery-column {
        max-width: 304px;
    }

    .gallery-column img {
        width: 100%;
        height: auto;
    }

    #gallery-container::after {
        height: 239px;
    }



    #tickets .container {
        padding: 60px 0;
    }

    #tickets h2::after {
        /* полоска под заголовком */
        bottom: -20px;
    }

    #tickets-container {
        margin-top: 82px;
    }

    .tickets-image-container {
        width: 700px;
        height: 440px;
    }

    .tickets-options {
        justify-content: flex-end;
    }

    #amount {
        width: 175px;
    }

    #amount p {
        text-align: left;
    }

    .visitor-category:nth-of-type(2) {
        margin-top: 25px;
    }

    .total-amount {
        margin-top: 25px;
    }

    .buy-button {
        margin-top: auto;
    }


    .map-container {
        width: 694px;
        height: 454px;
    }


    .contacts-heading {
        font-size: 24px;
        margin-bottom: 35px;
    }

    .contact-details p {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer-nav {
        margin: 65px auto 50px 44px;
        max-width: 313px;
    }

    .footer-social {
        margin: 141px 0 auto 70px;
    }

    .logo-container-b {
        margin-top: 60px;
    }

}



@media (max-width: 768px) {

    .container {
        max-width: 728px;
    }

    header .container {
        height: 110px;
    }

    #welcome .container {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    #button {
        display: none;
    }

    .section-title,
    .section-title-dark {
        font-size: clamp(1.75rem, 3.448vw + 0.845rem, 2.5rem);
        line-height: clamp(2.501rem, 5.744vw + 0.993rem, 3.75rem);
    }

    .section-title-dark.first {
        line-height: clamp(2.501rem, 5.744vw + 0.993rem, 3.75rem);
        text-align: center;
        padding-top: 0;
    }

    .text-subheading {
        font-size: clamp(1rem, 1.149vw + 0.698rem, 1.25rem);
    }

    .hero-image {
        position: inherit;
        margin-top: 50px;
        height: 546px;
    }

    .hero-image::after {
        display: none;
    }

    .pagination-container {
        position: inherit;
        width: 100%;
        height: 100px;
        align-items: center;
        padding: inherit;
    }

    .carousel-pagination-container {
        width: 160px;
        margin-inline: 45px;
    }

    .carousel-pagination-container div {
        /* один квадратик */
        width: 12px;
        height: 12px;
    }

    .pagination-arrows {
        margin-right: auto;
    }


    .welcome-slide-num {
        font-size: 20px;
        margin-left: auto;

    }

    .explore .container {
        padding-block: 40px;
    }

    .explore p {
        display: none;
    }

    .explore h2::after {
        bottom: -20px;
    }

    .explore-image-container {
        margin-top: 63px;
        width: 100%;
    }


    #video-journey .container {
        padding-block: 40px;
    }

    .video-journey-text-container {
        margin-bottom: 20px;
    }

    .video-active {
        height: 329px;
    }

    .video-active img {
        width: clamp(50px, 17vw, 140px);
    }

    .player-controls {
        height: 53px;
        padding-inline: 30px;
        gap: 35px;
    }

    .player-controls img:nth-of-type(1) {}


    .player-controls img:nth-of-type(2) {
        width: 27px;
        order: 1;
    }

    .player-controls img:nth-of-type(3) {
        width: 27px;
        order: 3;
    }


    .progress {
        height: 5px;
        order: 2;
    }

    .volume-slider {
        display: none;
    }

#video-thumbnails {
    margin-top: 20px;
    gap: 15px;
}

.youtube-thumbnail {
    max-width: 354px;
    aspect-ratio: 16/9;
}

.youtube-thumbnail:nth-of-type(3) {
    display:none;
}

#thumbnail-nav-container {
    margin-top: 20px;
    width: 190px;
 }

#thumbnail-nav-container div {
    height: 10px;
    width: 10px;
}



}

@media (max-width: 420px) {
    .container {
        max-width: 380px;
    }

    .logo-container {
        max-width: 136px;
    }

    .logo-icon {
        width: 29px;
        height: 16px;
    }

    .logo-text {
        font-size: 1rem;
        line-height: 1rem;
    }

    header.container {
        height: 90px;
    }

    .section-title,
    .section-title-dark {
        font-size: 1.125rem;
        line-height: 40px;
    }

    .text-subheading {
        font-size: 1rem;
    }






    .video-active img {
        width: 50px;
        height: auto;
    }



}